#img-loading-container {
  justify-content: center;
  margin-bottom: 24px;
  #img-loading {
    width: 30px;
    height: 30px;
  }
}

.modal-body {
  background-image: url('/assets/images/bg-dialog.jpeg');
  background-size: 100%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
