<div class="row mb-3">

  <div class="col-sm-4 col-xs-12">
    <h5>Height</h5>
    <span class="badge badge-pill"> {{ pokemon.height }}</span>
  </div>
  <div class="col-sm-4  col-xs-12">
    <h5>Weight</h5>
    <span class="badge badge-pill"> {{ pokemon.weight }}</span>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-4 col-xs-12">
    <h5>Base Exp</h5>
    <span class="badge badge-pill"> {{ pokemon.base_experience }}</span>
  </div>

  <div class="col-sm-8 col-xs-12">
    <h5>Abilities:</h5>
    <ng-container *ngFor="let a of pokemon.abilities; let i = index">
      <span class="badge badge-pill">{{ a.ability.name | titlecase}}</span>
    </ng-container>
  </div>
</div>
