/* You can add global styles to this file, and also import other style files */

$normal: rgb(168, 167, 122, 0.5);
$fire: rgb(238, 129, 48, 0.5);
$water: rgb(99, 144, 240, 0.5);
$electric: rgb(247, 208, 44, 0.5);
$grass: rgb(122, 199, 76, 0.5);
$ice: rgb(150, 217, 214, 0.5);
$fighting: rgb(194, 46, 40, 0.5);
$poison: rgb(163, 62, 161, 0.5);
$ground: rgb(226, 191, 101, 0.5);
$flying: rgb(169, 143, 243, 0.5);
$psychic: rgb(249, 85, 135, 0.5);
$bug: rgb(166, 185, 26, 0.5);
$rock: rgb(182, 161, 54, 0.5);
$ghost: rgb(115, 87, 151, 0.5);
$dragon: rgb(111, 53, 252, 0.5);
$dark: rgb(112, 87, 70, 0.5);
$steel: rgb(183, 183, 206, 0.5);
$fairy: rgb(214, 133, 173, 0.5);


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: "Free Pixel";
  font-style: normal;
  font-weight: 400;
  src: local("Free Pixel"), local("Free Pixel"), url("./assets/fonts/FreePixel.ttf") format("truetype");
}


body {
  font-family: 'Free Pixel', sans-serif !important;
  background-image: url('/assets/images/background.jpeg');
  background-attachment: fixed;
  background-position: bottom;
}


.bg-normal {
  background: $normal;
}
.bg-fire {
  background: $fire;
}
.bg-water {
  background: $water;
}
.bg-electric {
  background: $electric;
}
.bg-grass {
  background: $grass;
}
.bg-ice {
  background: $ice;
}
.bg-fighting {
  background: $fighting;
}
.bg-poison {
  background: $poison;
}
.bg-ground {
  background: $ground;
}
.bg-flying {
  background: $flying;
}
.bg-psychic {
  background: $psychic;
}
.bg-bug {
  background: $bug;
}
.bg-rock {
  background: $rock;
}
.bg-ghost {
  background: $ghost;
}
.bg-dragon {
  background: $dragon;
}
.bg-dark {
  background: $dark;
}
.bg-steel {
  background: $steel;
}
.bg-fairy {
  background: $fairy;
}
