<div class="card" >
  <div class="d-flex justify-content-end capture-container">
    <img *ngIf="!isCaptured()" src="/assets/images/not-captured.png" class="image-captured" (click)="capturePokemon(); $event.stopPropagation()">
    <img *ngIf="isCaptured()" src="/assets/images/captured.png" class="image-captured" (click)="releasePokemon(); $event.stopPropagation()">
  </div>
  <div class="image-container">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon?.id}}.png" class="img-fluid" [alt]="pokemon?.name"
      (error)="onImgError($event)">
  </div>
  <div class="card-body">
    <span class="pokemon-number">#{{ pokemon?.id | number:'3.0'}}</span>
    <h5 class="card-title"> {{pokemon?.name | titlecase}}</h5>
    <p class="card-text">
      <span *ngFor="let item of pokemon?.types" class="col-sm-4 badge bg-{{item?.type?.name}}">{{item?.type?.name | titlecase}}</span>
    </p>

  </div>
</div>
