<div class="card" >
  <div class="d-flex justify-content-end capture-container">
    <img *ngIf="!isCaptured()" src="/assets/images/not-captured.png" class="image-captured" (click)="capturePokemon(); $event.stopPropagation()">
    <img *ngIf="isCaptured()" src="/assets/images/captured.png" class="image-captured" (click)="releasePokemon(); $event.stopPropagation()">
  </div>
  <div class="image-container">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon?.id}}.png" class="img-fluid" [alt]="pokemon?.name"
      (error)="onImgError($event)">
  </div>
  <div class="card-body">
    <div class="row">
      <h5 class="card-title"> <span class="text-muted">#{{ pokemon?.id | number:'3.0' }}</span> {{ pokemon?.name | titlecase }}</h5>
    </div>
    <div class="row">
      <span *ngFor="let item of pokemon?.types" class="col-5 badge bg-{{item?.type?.name}}">{{item?.type?.name | titlecase}}</span>
    </div>
  </div>
</div>
