
.card {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  transition: top .5s;
  top: 0px;
  cursor: pointer;
}

.card:hover {
  top: -2px;

}

.capture-container {
  padding: 8px;
  .image-captured:hover {
    animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-5px, 0) rotate(-15deg); }
  30% { transform: translate(5px, 0) rotate(15deg); }
  50% { transform: translate(-5px, 0) rotate(-5deg); }
  60% { transform: translate(5px, 0) rotate(5deg); }
  100% { transform: translate(0, 0) rotate(0); }
}


.image-container {
  text-align: center;
  img {
    width: 80%;
  }

}

.pokemon-number {
  color: #757070;
}

.badge {
  padding: 8px 16px 8px 16px;
  margin-right: 8px;
  color: #fff;
}



